@using Microsoft.AspNetCore.Identity
@model List<StadiumViewModel>
@inject SignInManager<ApplicationUser> SignInManager
@{
    ViewData["Title"] = "Stadium";
}

<h2>@ViewData["StadiumMessage"]</h2>

@Html.ActionLink("Create Stadium", "CreateStadium", "Stadium")
@if (Model.Count() == 0)
{
    <div class="alert-info text-center">
        <h1>There are no Stadiums available.</h1>
    </div>
}
else
{
<table class="table table-striped">
    <thead>
    <th>Stadium Name</th>
    <th>Club</th>
    <th>Location</th>
    <th>Date Built</th>
    @if (SignInManager.IsSignedIn(User))
    {
    <th>Edit</th>
    <th>Delete</th>
    <th>Details</th>}

    </thead>
    <tbody>
        @foreach (StadiumViewModel svm in Model)
        {
<tr>
    <td>@svm.StadiumName</td>
    <td>@svm.ClubName</td>
    <td>@svm.Location</td>
    <td>@svm.BuildDate.ToString("dd-MM-yyyy")</td>
    @if (SignInManager.IsSignedIn(User))
    {
<td>@Html.ActionLink("Edit", "EditStadium", "Stadium", new { @id = svm.StadiumId })</td>
<td>@Html.ActionLink("Delete", "DeleteStadium", "Stadium", new { @id = svm.StadiumId })</td>
<td>@Html.ActionLink("Details", "StadiumDetails", "Stadium", new { @id = svm.StadiumId })</td>}
</tr>}
    </tbody>
</table>
}