@using Microsoft.AspNetCore.Identity
@model List<Stadium>
@inject SignInManager<ApplicationUser> SignInManager
@{
    ViewData["Title"] = "Stadium";
}

<h2>@ViewData["myFirstViewData"]</h2>

@Html.ActionLink("Create Stadium", "CreateStadium", "Stadium")
@if (Model.Count() == 0)
{
    <div class="alert-info text-center">
        <h1>There are no Stadiums available.</h1>
    </div>
}
else
{
<table class="table table-striped">
    <thead>
    <th>Stadium Name</th>
    <th>Location</th>
    <th>Date Built</th>
    @if (SignInManager.IsSignedIn(User))
    {
        <th>Edit</th>
        <th>Delete</th>
        <th>Details</th>
    }

    </thead>
    <tbody>
        @foreach (Stadium std in Model)
        {
        <tr>
            <td>@std.StadiumName</td>
            <td>@std.Location</td>
            <td>@std.BuildDate</td>
            @if (SignInManager.IsSignedIn(User))
            {
                <td>@Html.ActionLink("Edit Stadium", "EditStadium", "Stadium", new { @id = std.StadiumId })</td>
                <td>@Html.ActionLink("Delete Stadium", "DeleteStadium", "Stadium", new { @id = std.StadiumId })</td>
                <td>@Html.ActionLink("Details", "StadiumDetails", "Stadium", new { @id = std.StadiumId })</td>
            }
        </tr>
        }
    </tbody>
</table>
}