@model Stadium
@{
    ViewData["Title"] = "CreateStadium";
}

<h2>Create New Stadium</h2>

@Html.ActionLink("Show All Stadiums", "AllStadiums", "Stadium")

@using (Html.BeginForm("StadiumCreated", "Stadium", FormMethod.Post))
{

    <div class="form-group">
        @Html.LabelFor(n => n.StadiumName)
        @Html.TextBoxFor(n => n.StadiumName, new { @class = "form-control" })
        @Html.ValidationMessageFor(n => n.StadiumName, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(n => n.BuildDate)
        @Html.TextBoxFor(n => n.BuildDate, "{0:yyyy-MM-dd}", new { @class = "form-control", @type = "date" })
    </div>

    <div class="form-group">
        @Html.LabelFor(n => n.Location)
        @Html.TextBoxFor(n => n.Location, new { @class = "form-control" })
        @Html.ValidationMessageFor(n => n.Location, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(n => n.StadiumImage)
        @Html.TextBoxFor(n => n.StadiumImage, new { @class = "form-control" })
        @Html.ValidationMessageFor(n => n.StadiumImage, "", new { @class = "text-danger" })
    </div>

    <div style="padding:10px;">
        @if (Model.StadiumImage != "")
        {
            <img src="~/images/Logos/@Model.StadiumImage" alt="Stadium" width="250" height="200" />
        }
    </div>

    <div class="form-group">
        @Html.LabelFor(n => n.ClubId)
        @Html.DropDownListFor(n => n.ClubId, new SelectList(ViewBag.Clubs, "ClubId", "ClubName"), "Select the home club", new { @class = "form-control" })
        @Html.ValidationMessageFor(n => n.ClubId, "", new { @class = "text-danger" })
    </div>

    <button type="submit" class="btn btn-success">Create Stadium</button>
}

