@using FootballStarz.Classes;
@model Stadium
@{
    ViewData["Title"] = "EditStadium";
}
<h2>Edit Stadium</h2>

@using (Html.BeginForm("StadiumEdited", "Stadium", FormMethod.Post))
{
    @Html.HiddenFor(n => n.StadiumId)

    <div class="form-group">
        @Html.LabelFor(n => n.StadiumName)
        @Html.TextBoxFor(n => n.StadiumName, new { @class = "form-control" })
        @Html.ValidationMessageFor(n => n.StadiumName, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(n => n.Location)
        @Html.TextBoxFor(e => e.Location, new { @class = "form-control" })
        @Html.ValidationMessageFor(n => n.Location, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(n => n.BuildDate)
        @Html.TextBoxFor(b => b.BuildDate, "{0:yyyy-MM-dd}", new { @class = "form-control", @type = "date", @value = Model.BuildDate.ToString("dd-MM-yyyy") })
        @Html.ValidationMessageFor(n => n.BuildDate, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(n => n.StadiumImage)
        @Html.TextBoxFor(n => n.StadiumImage, new { @class = "form-control" })
        @Html.ValidationMessageFor(n => n.StadiumImage, "", new { @class = "text-danger" })
    </div>

    <div style="padding:10px;">
        @if (Model.StadiumImage != "")
        {
            <img src="@Constants.IMG_PREFIX_STADIUM@Model.StadiumImage" alt="Stadium"width="250" height="200" />
        }
    </div>

     <div class="form-group">
        @Html.LabelFor(n => n.ClubId)
        @Html.DropDownListFor(n => n.ClubId, new SelectList(ViewBag.Clubs, "ClubId", "ClubName"), "Played by club ", new { @class = "form-control" })
        @Html.ValidationMessageFor(n => n.ClubId, "", new { @class = "text-danger" })
    </div>



    <button type="submit" class="btn btn-default">Save All Changes</button>
}
