@using Microsoft.AspNetCore.Identity;
@using FootballStarz.Classes;
@model StadiumViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{ ViewData["Title"] = "StadiumDetails"; }

<h1>@Model.StadiumName</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <td><b>Stadium Name</b></td>
            <td>@Model.StadiumName</td>
        </tr>
        </tr>
    <td><b>Location</b></td>
    <td>@Model.Location</td>
    </tr>
    <tr>
        <td><b>Date Built</b></td>
        <td>@Model.BuildDate.ToString("dd-MM-yyyy")</td>
    </tr>
    <tr>
        <td><b>Club playing this stadium</b></td>
        <td>@Model.ClubName</td>
    </tr>
    </thead>
</table>

@if (SignInManager.IsSignedIn(User))
{
<table>
    <td>@Html.ActionLink("Edit " + @Model.StadiumName, "EditStadium", "Stadium", new { @Id = @Model.StadiumId })</td>
    <td>&nbsp;|&nbsp;</td>
    <td>@Html.ActionLink("Delete " + @Model.StadiumName, "DeleteStadium", "Stadium", new { @Id = @Model.StadiumId })</td>
</table>
}

<br />

<div style="padding:10px;">
    @if (Model.StadiumImage != "")
    {
    <img src="@Constants.IMG_PREFIX_STADIUM@Model.StadiumImage" alt="Stadium" width="250" height="200" />
    }
</div>