@model ClubViewModel
@{
    ViewData["Title"] = "CreateClub";
}
<h2>Create New Club</h2>

@Html.ActionLink("Show All Clubs", "AllClubs", "Club")

@using (Html.BeginForm("ClubCreated", "Club", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(n => Model.ClubName)
        @Html.TextBoxFor(n => Model.ClubName, new { @class = "form-control" })
        @Html.ValidationMessageFor(n => Model.ClubName, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(n => Model.Founded)
        @Html.TextBoxFor(n => Model.Founded, new { @class = "form-control", @type = "date" })
    </div>

    <div class="form-group">
        @Html.LabelFor(n => Model.ClubLogo)
        @Html.TextBoxFor(n => Model.ClubLogo, new { @class = "form-control" })
        @Html.ValidationMessageFor(n => Model.ClubLogo, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(n => Model.StadiumId)
        @Html.DropDownListFor(n => Model.StadiumId, new SelectList(ViewBag.Stadiums, "StadiumId", "StadiumName"), "Select a home stadium", new { @class = "form-control" })
        @Html.ValidationMessageFor(n => Model.StadiumId, "", new { @class = "text-danger" })
    </div>

    <div class="text-left">
    <button type="submit" class="btn btn-success">Create Club</button>
    </div>
}

