@model Club
@{
    ViewData["Title"] = "CreateClub";
}
<h2>Create New Club</h2>

@Html.ActionLink("Show All Clubs", "AllClubs", "Club")

@using (Html.BeginForm("ClubCreated", "Club", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(n => n.ClubName)
        @Html.TextBoxFor(n => n.ClubName, new { @class = "form-control" })
        @Html.ValidationMessageFor(n => n.ClubName, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(n => n.Founded)
        @Html.TextBoxFor(a => a.Founded, new { @class = "form-control", @type = "date" })
    </div>

    <div class="form-group">
        @Html.LabelFor(n => n.ClubLogo)
        @Html.TextBoxFor(a => a.ClubLogo, new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(n => n.StadiumId)
        @Html.DropDownListFor(n => n.StadiumId, new SelectList(ViewBag.Stadiums, "StadiumId", "StadiumName"), "Select a home stadium", new { @class = "form-control" })
        @Html.ValidationMessageFor(n => n.StadiumId, "", new { @class = "text-danger" })
    </div>

    <div class="text-left">
    <button type="submit" class="btn btn-success">Create Club</button>
    </div>
}

