@model School
@{
    ViewData["Title"] = "EditClub";
}
<h2>Edit School</h2>

@using (Html.BeginForm("ClubEdited", "Club", FormMethod.Post))
{
    @Html.HiddenFor(n=>n.Id)

    <div class="form-group">
        @Html.LabelFor(n => n.ClubName)
        @Html.TextBoxFor(n => n.ClubName, new { @class = "form-control" })
        @Html.ValidationMessageFor(n=>n.ClubName,"", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(n => n.Founded)
        @Html.TextBoxFor(a => a.Founded,"{0:yyyy-MM-dd}", new { @class = "form-control", @type="date", @value = Model.Founded.ToString("yyyy-MM-dd") })
    </div>

    <button type="submit" class="btn btn-default">Save Changes</button>

}


