@model Player
@{
    ViewData["Title"] = "EditPlayer";
}
<h2> Edit Player</h2>

@using (Html.BeginForm("PlayerEdited", "Player", FormMethod.Post))
{
    @Html.HiddenFor(n => n.PlayerId)


    <div class="form-group">
        @Html.LabelFor(n => n.PlayerName)
        @Html.TextBoxFor(n => n.PlayerName, new { @class = "form-control" })
        @Html.ValidationMessageFor(n => n.PlayerName, "", new { @class = "text-danger" })


    </div>

    <div class="form-group">
        @Html.LabelFor(n => n.BirthDate)
        @Html.TextBoxFor(b => b.BirthDate, "{0:yyyy-MM-dd}", new { @class = "form-control", @type = "date", @value = Model.BirthDate.ToString("yyyy-MM-dd") })
    </div>

    <div class="form-group">
        @Html.LabelFor(n => n.Nationality)
        @Html.TextBoxFor(g => g.Nationality, new { @class = "form-control" })


    <div class="form-group">
        @Html.LabelFor(n => n.PlayerImage)
        @Html.TextBoxFor(g => g.PlayerImage, new { @class = "form-control" })
        @Html.ValidationMessageFor(n => n.PlayerImage, "", new { @class = "text-danger" })
    </div>

    <div style="padding:10px;">
        @if (Model.PlayerImage != "")
        {
            <img src="~/images/Player/@Model.PlayerImage" alt="Player" width="200" height="250" />
        }
    </div>

    <div class="form-group">
        @Html.LabelFor(n => n.ClubId)
        @Html.DropDownListFor(n => n.ClubId, new SelectList(ViewBag.Clubs, "ClubId", "ClubName"), "Contracted by club", new { @class = "form-control" })
        @Html.ValidationMessageFor(n => n.ClubId, "", new { @class = "text-danger" })
    </div>


    </div>

    <button type="submit" class="btn btn-default">Save All Changes</button>
}

