@using Microsoft.AspNetCore.Identity;
@using FootballStarz.Classes;
@model PlayerViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{ ViewData["Title"] = "PlayerDetails"; }

<h1>@Model.PlayerName</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <td><b>Player Name</b></td>
            <td>@Model.PlayerName</td>
        </tr>
    <td><b>Birth Date</b></td>
    <td>@Model.BirthDate.ToString("dd-MM-yyyy")</td>
    </tr>
    <tr>
        <td><b>Nationality</b></td>
        <td>@Model.Nationality</td>
    </tr>
    <tr>
        <td><b>Contract with club</b></td>
        <td>@Model.Club.ClubName</td>
    </tr>
    </thead>
</table>

@if (SignInManager.IsSignedIn(User))
{
<table>
    <td>@Html.ActionLink("Edit " + @Model.PlayerName, "EditPlayer", "Player", new { @Id = @Model.PlayerId })</td>
    <td>&nbsp;|&nbsp;</td>
    <td>@Html.ActionLink("Delete " + @Model.PlayerName, "DeletePlayer", "Player", new { @Id = @Model.PlayerId })</td>
</table>}

<br />

<div style="padding:10px;">
    @if (Model.PlayerImage != "")
    {
<img src="@Constants.IMG_PREFIX_PLAYER@Model.PlayerImage" alt="Player" width="200" height="250" />}
</div>