@using Microsoft.AspNetCore.Identity;
@using FootballStarz.Classes;
@using FootballStarz.Services;
@model PlayerViewModel
@inject SignInManager<ApplicationUser> SignInManager
@inject FBSContainerService fbsrv

@{ ViewData["Title"] = "PlayerDetails"; }

<h1>@Model.PlayerName</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <td><b>Player Name</b></td>
            <td>@Model.PlayerName</td>
        </tr>
    <td><b>Birth Date</b></td>
    <td>@Model.BirthDate.ToString("dd-MM-yyyy")</td>
    </tr>
    <tr>
        <td><b>Nationality</b></td>
        <td>@Model.Nationality</td>
    </tr>
    <tr>
        <td><b>Contract with club</b></td>
        <td>@Html.ActionLink(@Model.Club.ClubName, "ClubDetails", "Club", new { @id = @Model.Club.ClubId })</td>
    </tr>
    </thead>
</table>

@if (SignInManager.IsSignedIn(User))
{
<table>
    <td>@Html.ActionLink("Edit " + @Model.PlayerName, "EditPlayer", "Player", new { @Id = @Model.PlayerId })</td>
    <td>&nbsp;|&nbsp;</td>
    <td>@Html.ActionLink("Delete " + @Model.PlayerName, "DeletePlayer", "Player", new { @Id = @Model.PlayerId })</td>
</table>}

<br />
<div style="padding:10px;">
    @if (! Model.PlayerImage.Equals("0"))
    {
        var Url = await fbsrv.GetCachedImageUrl(Model.PlayerImage);
        var t = Url;

        <img src="@Url" alt="not displayed" width="1240" height="827"></img>
    }
    else
    {
         <h3>No Image Available</h3>
    }
</div>